/*
====================================================================================
                            CONTENEDORES PRINCIPALES                               
====================================================================================
*/
.grid-total{
    height: 150vh;
}

body > * {
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
}

/*
====================================================================================
                            GRID TOTAL CONTENT                                
====================================================================================
*/

.grid-total-slider{
    grid-row: 3 / 25;
    grid-column: 1 / -1;
    display: grid;
    height: 100vh;
    grid-template: 1fr / 1fr;
    z-index: -1;
}

slider{
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f00;
    overflow: hidden;
    position: relative;
}

slider > * {
    position: absolute;
    display: block;
    background: #1f1f1f;
    animation: slide 12s infinite;
    overflow: hidden;
    display: grid;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    display: flex;
    align-content: center;
    align-items: center;
    align-self: center;
}



slide:nth-child(1){
    left: 0%;
    animation-delay: -1s;
    background-image: url(../imagenes/LFP/items-1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

slide:nth-child(2){
    animation-delay: 2s;
    background-image: url(../imagenes/LFP/items-2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

slide:nth-child(3){
    animation-delay: 5s;
    background-image: url(../imagenes/LFP/items-3.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

slide:nth-child(4){
    left: 0%;
    animation-delay: 8s;
    background-image: url(../imagenes/LFP/items-4.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

slide > img {
    width: 35%;
    color: #ffffff;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-items: center;
    align-self: center;
}

@keyframes slide {
    0% { left: 100%; width: 100%;}
    5% { left: 0%}
    25% {left: 0%;}
    30% {left: -100%; width: 100%;}
    30.0001% {left: -100%; width: 0%;}
    100% {left: 100%; width: 0%;}
}

/* .grid-total-img-powerFlow{
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    height: auto;
    width: 65%;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-content: center;    
    align-items: center;
    align-self: center;
}

.grid-total-information{
    background-color: rgba(0, 0, 0, 0.425);
    grid-row: 2/3;
    grid-column: 1/-1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    color: white;
    padding: 10px;
    text-align: center;
    align-self: center;
} */