.grid-total{
    height: 100vh;
}
    

/*
====================================================================================
                                DIV INFORMATION                                
====================================================================================
*/
.grid-total-information{
    background-color: rgba(0, 0, 0, 0.425);
    grid-row: 8/21;
    grid-column: 32/39;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6vw;
    color: white;
    padding: 10px;
    text-align: center;
}