/*
====================================================================================
                               CONTENIDO PRINCIPAL                                 
====================================================================================
*/
/* BODY */
body{
    
    z-index: -1;
    width: 100%;
    background-image: url("../images/wallpaper.png");
    background-size: cover;
    background-attachment:fixed; 
    background-position: center 0px;
    text-align: center;
    position: relative;
    padding-top: 10em;
    margin: 0;
    padding: 0;
    }

.grid-total-menu{
    
    grid-row: 1 / 4;
    grid-column: 1 / -1;
    display: grid;
    grid-template: 1fr / 5fr 20fr 5fr 2fr 5fr 2fr 5fr 2fr 5fr 2fr 5fr 2fr 5fr 2fr;
    background-color: #FFBD00;
}

/*////////////////////////////////MODAL///////////////////*/

.modal{
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 99999999;
    background: rgba(0,0,0,0.9);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.35s ease;
}

.modal .content-modal{
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 50%;
    margin-top: 40px;
    top: -100vh;
    transition: top 0.35 ease;
    margin-left: -250px;
    background: #FFBD00;
    z-index: 99999999;
    
    
}

.modal h2{
    padding: 0.5em;
    text-align: center;
    color: black;
    margin: 0;
    font-family: Impact;
    
}

.modal h1{
    padding: 10em;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    color:  rgba(0,0,0,1);
    margin: 0;
    font-family: Impact;
    font-size: 1.2vw;   

}

.text-costvalvdir{
    
    position: absolute;
    top: 185px;
    left: 208px;
    text-align: center;
    font-family: Impact;
    font-size: 2vw;
    color: black; 
}

.text-iva{
    
    position: absolute;
    top: 255px;
    left: 210px;
    text-align: center;
    font-family: Impact;
    font-size: 1vw;
    color: black; 
}

.modal article{
    height: 450px;
    background: white;
    
}

.close-modal{
    color: white;
    position: absolute;
    top: 5px;
    left: 450px;
    margin: 0;
    padding: 5px;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
}
.modal a:hover{
  
    
}
.modal:target{
    opacity: 1;
    top:0;   
}

.modal .btn-close-modal{
    position: absolute;
    left: 100px;
    width: 100%;
    height: 100%;
    z-index: 99999991;
}
.modal:target .content-modal{
    top: 50px;
    transition: top 1.3s ease; 
}


.img-posicion{
    
    background-image: url("../images/valvdir.jpg");
    position: relative;
    top: 40px;
    left: 175px;
    width: 150px;
    height: 85px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    
}

.img-money{
    
    background-image: url("../images/money-icon.png");
    position: absolute;
    top: 210px;
    left: 140px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



@media (width: 1920px){
   .modal article{
    height: 600px;
    background: white;     
}
      .text-iva{
    position: absolute;
    top: 280px;
    left: 210px;
}  
    
}

@media (max-width: 1200px){
    
   .modal article{
    height: 350px;
    background: white;
}

    
.img-money{
    top: 190px;
    left: 150px;
}
    
    .text-iva{
    position: absolute;
    top: 240px;
    left: 210px;
}
.box-cantidad{
    
    position:relative;
    top: 300px;
    left: 350px;
    margin: 0;
    padding: 0;
}
    .btn-pagar1 {
        top: 320px;
        left: 15px;
        
    }
    
    .btn-scomprando1 {
        top: 320px;
        left: 15px;
        
    }
    
    .add-carrito {
        top: 320px;
        left: 15px;
        
    }
}

.btn-pagar1 {
    position: absolute;
    left: 280px;
    bottom: 40px;;
    cursor: pointer;
    grid-column: 4/5;
    grid-row: 9/10;
    background-color: #048900; /* Green */
    border: none;
    color: white;
    font-family: Arial black;
    height: 50px;
    width: 150px;
    text-align: center;
    padding-top: 18px;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    font-size: 16px;    
    box-shadow: 13px 11px 10px 2px rgba(0,0,0,0.75);
      -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn-pagar1:hover {
  background-color: #07FF00; 
  color: white;
}

.btn-scomprando1 {
    position: absolute;
    left: 80px;
    bottom: 40px;
    padding-top: 18px;
    cursor: pointer;
    background-color: #FFBD00; /* Green */
    border: none;
    color: white;
    font-family: Arial black;
    height: 50px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    font-size: 16px;    
    box-shadow: 13px 11px 10px 2px rgba(0,0,0,0.75);
      -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.btn-scomprando1:hover {
  background-color: #FFED00; 
  color: white;
}

.add-carrito {

    color: black;
    position: absolute;
    top: 250px;
    width: 135px;
    height: 20px;
    left: 337px;
    margin: 0;
    padding: 5px;
    font-weight: bold;
    font-size: .7em;
    text-decoration: none;
    border-style: solid;
    border-width: 3px;;
    border-color: black;
    font-family: Arial Black;
    background-color:#FFBD00;
    display: inline-block;

}

.add-carrito img{
    padding-left: 0px;
    
    
    
}
.add-carrito:hover {
    
  background-color: #FFBD00; 
  color: white;
}

.mas-cantidad{

    color: white;
    position: absolute;
    top: 210px;
    left: 450px;
    margin: 0;
    text-align: center;
    width: 22px;
    height: 22px;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    border-style: solid;
    border-width: 3px;;
    border-color: black;
    border-radius: 150px;
    background-color:#FFCD70;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.mas-cantidad:hover {
    background-color: green;
}

.menos-cantidad{
    
    color: white;
    position: absolute;
    top: 210px;
    left: 350px;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    border-style: solid;
    border-width: 3px;;
    border-color: black;
    border-radius: 150px;
    background-color:#FFCD70;
     -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.menos-cantidad:hover {
    background-color: red;
}

.box-cantidad{
    
    position: absolute;
    border-color: black;
    color: black;
    text-align: center;
    font-family: arial black;
    top:208px;
    left:384px;
    height:26px;
    width: 55px;
    border-radius: 15px;
    
}

/*////////////////////////////////////////////////////////*/
/*CONTAINER MAIN*/
.grid-total{
  display: grid;
  height: 200vh;
  width:100%;
  grid-gap: 4px;
  grid-template: repeat(40,1fr)/repeat(40,1fr);
}

/*APLIACACION A TODOS LOS DIV DENTRO DE .grid-container-main*/
/*
====================================================================================
                                  BOX AVATAR                   
====================================================================================
*/
.container-box-avatar{
    
  grid-column: 16/26;
  grid-row: 7/10;
    display: grid;
grid-template-columns: repeat(5,1fr)/repeat(5,1fr);
}

.lbllogo{
  grid-column: 1/5;
  grid-row:1/2;
    display: grid;
    text-align: center;
    font-size: 5vw;
    font-family: Impact;
    color: white;
    opacity: 0.9;
}

.lbl-lcmobil{
    border-top: 9px solid #FFBD00;
  grid-column: 1/5;
  grid-row:1/2;
    display: grid;
    text-align: center;
    font-size: 2vw;
    font-family: Impact;
    color: white;
    opacity: 0.9;
}

.lbl-lcindustrial{
    border-top: 9px solid #FFBD00;
  grid-column: 1/6;
  grid-row:1/2;
    display: grid;
    text-align: center;
    font-size: 2vw;
    font-family: Impact;
    color: white;
    opacity: 0.9;
}

/*
====================================================================================
                                  GRID CATALOGOS                 
====================================================================================
*/
.img-valvdir{
  background-image: url("../images/valvdir.jpg");
  grid-column:4/5;
  grid-row:4/5;
  font-size: 1.5vw;
  margin: 0;
  padding: 0;
  width: 150px;
  height: 150px;
    background-repeat: no-repeat;
background-size: 100% 100%;
 box-shadow: 13px 11px 10px 2px rgba(0,0,0,0.75);
border-radius: 200px 200px 200px 200px;  
    
}

.img-bombeng{
    background-image: url("../images/bombeng.jpg");
    grid-column: 8/9;
  grid-row: 4/5;
  font-size: 1.5vw;
  margin: 0;
  left: 60px;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
background-size: 100% 100%;
 box-shadow: 13px 11px 10px 2px rgba(0,0,0,0.75);
border-radius: 200px 200px 200px 200px;     
}

.img-pdcil{
    background-image: url("../images/pdcil.jpg");
    grid-column: 12/13;
  grid-row: 4/5;
  font-size: 1.5vw;
  margin: 0;
  left: 60px;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
background-size: 100% 100%;
 box-shadow: 13px 11px 10px 2px rgba(0,0,0,0.75);
border-radius: 200px 200px 200px 200px;     
}

.img-bvenas{
    background-image: url("../images/bvenas.jpg");
    grid-column: 16/17;
  grid-row: 4/5;
  font-size: 1.5vw;
  margin: 0;
  left: 60px;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
background-size: 100% 100%;
 box-shadow: 13px 11px 10px 2px rgba(0,0,0,0.75);
border-radius: 200px 200px 200px 200px;     
}

.leftrowlcm{
    background-image: url("../images/left-row.png");
    grid-column: 1/2;
    grid-row: 5/6;
    font-size: 1.5vw;
    margin: 0;
    left: 60px;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.rightrowlcm{
    background-image: url("../images/right-row.png");
    grid-column: 21/21;
    grid-row: 5/6;
    font-size: 1.5vw;
    margin: 0;
    left: 60px;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
     cursor: pointer;
}

.grid-container-lcmobil{
    
  /*Posicion sobre GRID MAIN*/
    background-color: rgba(0,0,0,0.5);
  grid-column: 6/36;
  grid-row: 12/26;
  /*Template GRID*/
  display: grid;
  grid-template-columns: repeat(20,2fr);
  grid-template-rows: repeat(10,2fr);
  grid-gap: 2px;

  overflow-x: auto;
  
  border-radius: 5px;
  
}
.sp1{
    
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(15,1fr);
    grid-column: 2/20;
    grid-row:2/10;
    display: grid;
    background-color: transparent;
}




a.control_prev{
     grid-column: 2/3;
     grid-row:6/6;
     z-index: 999;
    color: white;
    text-decoration: none;
     background: #2a2a2a;
     font-weight: 600;
     width: auto;
     height: auto;
     display: block;
     opacity: 0.8;
    }

a.control_next {
     grid-column: 19/20;
     grid-row:6/6;
     z-index: 999;
    color: white;
    text-decoration: none;
     background: #2a2a2a;
     font-weight: 600;
     width: auto;
     height: auto;
     display: block;
     opacity: 0.8;
    
    
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 12px 12px 0;
}

a.control_next {
  right: 0;
  border-radius: 12px 0 0 12px;
}
.button-valv {
    cursor: pointer;
  grid-column: 4/5;
  grid-row: 8/9;
 background-color: #FFBD00; /* Yellow */
  border: none;
    color: black;
    font-family: Arial black;
    height: auto;
    height: 30px;
    width: 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    border-radius: 50px;
  font-size: 16px;    
   box-shadow: 13px 11px 10px 2px rgba(0,0,0,0.75);
      -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button-valv:hover {
  background-color: gray; 
  color: black;
}

/*/////////////////////////////////////////////////////////////////////*/

.button-pdcil {
  grid-column: 12/13;
  grid-row: 8/9;
 background-color: #FFBD00; /* Yellow */
  border: none;
    color: black;
    font-family: Arial black;
    height: auto;
    height: 30px;
    width: 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    border-radius: 50px;
  font-size: 16px;    
   box-shadow: 13px 11px 10px 2px rgba(0,0,0,0.75);
      -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button-pdcil:hover {
  background-color: gray; /* Green */
  color: black;
}

.button-bvenas{
  grid-column: 16/17;
  grid-row: 8/9;
 background-color: #FFBD00; /* Yellow */
  border: none;
    color: black;
    font-family: Arial black;
    height: auto;
    height: 30px;
    width: 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    border-radius: 50px;
  font-size: 16px;    
   box-shadow: 13px 11px 10px 2px rgba(0,0,0,0.75);
      -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button-bvenas:hover {
  background-color: gray; 
  color: black;
}

.text-valvdir{
    grid-column:4/5;
    grid-row: 5/6;
    text-align:center;
    font-size: 1vw;
    font-family: Arial Black;
    text-shadow: 3px 2px black;
    color: white;    
}

.text-bombeng{
    grid-column: 8/9;
    grid-row: 5/6;
    text-align: center;
    font-size: 1vw;
    font-family: Arial Black;
    color: white; 
    text-shadow: 3px 2px black;
}

.text-pdcil{
    grid-column: 12/13;
    grid-row: 5/6;
    text-align: center;
    font-size: 1vw;
    font-family: Arial Black;
    color: white; 
    text-shadow: 3px 2px black;
}

.text-bvenas{
    grid-column: 16/18;
    grid-row: 5/6;
    text-align: left;
    font-size: 1vw;
    font-family: Arial Black;
    color: white; 
    text-shadow: 3px 2px black;
}

.button-bombeng {
  grid-column: 8/9;
  grid-row: 8/9;
 background-color: #FFBD00; /* Yellow */
  border: none;
    color: black;
    font-family: Arial Black;
    height: auto;
    height: 30px;
    width: 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    border-radius: 50px;
  font-size: 16px;    
  box-shadow: 13px 11px 10px 2px rgba(0,0,0,0.75);
      -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button-bombeng:hover {
  background-color: gray; 
  color: black;
}

/*/////////////////LINE CARD INDUSTRIAL//////////////////////////////////////////////*/
.grid-container-lcindustrial{
  /*Posicion sobre GRID MAIN*/
  grid-column: 6/36;
  grid-row: 28/42;
  background-color: rgba(0,0,0,0.5);
  /*Template GRID*/
  display: grid;
  grid-template-columns: repeat(20,1fr);
  grid-template-rows: repeat(10,2fr);
  grid-gap: 2px;
  align-content: center;
  align-items: center;
}
/*//////////////Valvulas Direccionales///////////*/ 
.img-vdir{
    background-image: url("../images/vdir.jpg");
    grid-column: 4/5;
    grid-row: 4/6;
    font-size: 1.5vw;
    margin: 0;
    left: 60px;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 13px 11px 10px 2px rgba(0,0,0,0.75);
    border-radius: 200px 200px 200px 200px;     
}

.text-vdir{
    
    grid-column: 4/5;
    grid-row: 7/9;
    text-align: center;
    font-size: 1vw;
    font-family: Arial Black;
    text-shadow: 3px 2px black;
    color: white; 
}

.button-vdir {
  grid-column: 4/5;
  grid-row: 9/10;
 background-color: #FFBD00; /* Yellow */
  border: none;
    color: black;
    font-family: Arial black;
    height: auto;
    height: 30px;
    width: 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    border-radius: 50px;
  font-size: 16px;    
   box-shadow: 13px 11px 10px 2px rgba(0,0,0,0.75);
      -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button-vdir:hover {
  background-color: gray; 
  color: black;
}

/*////////////// Kit de materiales /////////////*/

.img-ksmateriales{
    background-image: url("../images/ksmateriales.jpg");
    grid-column: 8/9;
  grid-row: 4/6;
  font-size: 1.5vw;
  margin: 0;
  left: 60px;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
background-size: 100% 100%;
 box-shadow: 13px 11px 10px 2px rgba(0,0,0,0.75);
border-radius: 200px 200px 200px 200px;     
}
.text-ksmateriales{
    grid-column: 8/9;
    grid-row: 7/9;
    text-align: center;
    font-size: 1vw;
    font-family: Arial Black;
    text-shadow: 3px 2px black;
    color: white; 
}

.button-ksmateriales{
  grid-column: 8/9;
  grid-row: 9/10;
 background-color: #FFBD00; /* Yellow */
  border: none;
    color: black;
    font-family: Arial black;
    height: auto;
    height: 30px;
    width: 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    border-radius: 50px;
  font-size: 16px;    
   box-shadow: 13px 11px 10px 2px rgba(0,0,0,0.75);
      -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button-ksmateriales:hover {
  background-color: gray; 
  color: black;
}

/*//////////Motores hidraulicos para aplicaciones///////////*/

.img-mha{
    background-image: url("../images/mha.jpg");
    grid-column: 12/13;
  grid-row: 4/6;
  font-size: 1.5vw;
  margin: 0;
  left: 60px;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
background-size: 100% 100%;
 box-shadow: 13px 11px 10px 2px rgba(0,0,0,0.75);
border-radius: 200px 200px 200px 200px;     
}
.text-mha{
    grid-column: 12/13;
    grid-row: 7/9;
    text-align: center;
    font-size: 1vw;
    font-family: Arial Black;
    text-shadow: 3px 2px black;
    color: white; 
}

.button-mha {
  grid-column: 12/13;
  grid-row: 9/10;
 background-color: #FFBD00; /* Yellow */
  border: none;
    color: black;
    font-family: Arial black;
    height: auto;
    height: 30px;
    width: 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    border-radius: 50px;
  font-size: 16px;    
   box-shadow: 13px 11px 10px 2px rgba(0,0,0,0.75);
      -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button-mha:hover {
  background-color: gray; 
  color: black;
}

/*//////////FILTROS MANOMETROS VALVULAS///////////*/

.img-fmv{
    
    background-image: url("../images/fmv.jpg");
    grid-column: 16/17;
    grid-row: 4/6;
    font-size: 1.5vw;
    margin: 0;
    left: 60px;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 13px 11px 10px 2px rgba(0,0,0,0.75);
    border-radius: 200px 200px 200px 200px;     
}
.text-fmv{
    grid-column: 16/17;
    grid-row: 7/9;
    text-align: center;
    font-size: 1vw;
    font-family: Arial Black;
    text-shadow: 3px 2px black;
    color: white; 
}
.button-fmv {
  grid-column: 16/17;
  grid-row: 9/10;
 background-color: #FFBD00; /* Yellow */
  border: none;
    color: black;
    font-family: Arial black;
    height: auto;
    height: 30px;
    width: 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
    border-radius: 50px;
  font-size: 16px;    
   box-shadow: 13px 11px 10px 2px rgba(0,0,0,0.75);
      -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button-fmv:hover {
  background-color: gray; 
  color: black;
}

.leftrowlcin{
    background-image: url("../images/left-row.png");
    grid-column: 2/2;
    grid-row: 5/6;
    font-size: 1.5vw;
    margin: 0;
    left: 60px;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

.leftrowlcin:hover {
  background-color: gray; 
  color: black;
}

.rightrowlcin{
    
    background-image: url("../images/right-row.png");
    grid-column: 18/19;
    grid-row: 5/6;
    font-size: 1.5vw;
    margin: 0;
    left: 60px;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
     
}

/*///////////////////////////////PAGINACION//////////////////////////////////////*/

.paginacion{
    margin: 150px 50px;    
}

.paginacion ul{
    list-style:none;
    text-align: center;
    
}

.paginacion ul li{
    
    display:inline-block;
    margin-right: 0;

}
.paginacion ul li a {
    display: block;
    padding: 30px 40px;
    color:black;
    font-family: Arial Black;
    background: #FFBD00;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.paginacion ul li a:hover{
    background-color: gray;
}



/*/////////////////////RESPONSIVE//////////////////////*/
